* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    float: right;
}

header {
    background-color: #050A30;
    display: inline-block;
    width: 100%;
}

a {
    text-decoration: none; 
    padding: 20px 20px;
    display: inline-block;
    list-style-type: none;
    padding-left: 15px;
    color: white;
}

#abt {
    background-color: rgb(42, 41, 41);
    color: white;
    text-align: center;
    padding: 20px 0px;
    margin-top: -5px;
}

aside {
    display: block;
    margin-top: 20px;
    height: 60%;
}

.aside-left, .aside-right {
    display: inline-block;
}

.aside-left {
    float: left;
    width: 40%;
    height: 100%;
}

.aside-left img {
    object-fit: cover;
    margin-left: 50px;
    width: 650px;
    height: 480px;
    border-radius: 10px;
}

.aside-right {
    margin-top: 0px;
    float: right;
    width: 50%;
    height: 100%;
    background-color: #fffaf4;
    padding: 20px;
}

.aside-right h2 {
    padding-bottom: 20px;
}

.aside-right p {
    padding-bottom: 20px;
    text-align: justify;
}





