/* ******************* */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    --nav-bg: rgb(55 53 52);
    --sec-1-bg:rgb(253 242 233);
    --sec-2-bg:rgb(33 31 36);
    --card-bg:rgb(36 37 42);
    --coustom-color-1:rgb(230 126 34);
    --coustom-color-2:rgb(247 0 55);
    --f-color:rgb(123 122 107);
}

nav {
    overflow: hidden;
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0px;
    overflow: hidden;
    text-transform: capitalize;
    color: white;
    margin-left: 120px;
}

.logo img {
    border-radius: 50%;
    width: 35px;
    margin-right: 7px;
}

.logo h2 {
    font-size: 20px;
}

ul {
    display: flex;
    justify-content: space-between;
    margin-right: 120px;
}

ul li {
    list-style-type: none;
    text-transform: capitalize;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    font-size: 14px;
}

.nav-link:hover {
    color: var(--coustom-color-1);
}


/* -------------------------------------------------------- */

.hero-sec {
    background-color: var(--sec-1-bg);
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 30px;
    
}

.left {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 372px;
}
.left h1 {
    font-size: 43px;
}
.h1-span {
    text-transform: capitalize;
    color: var(--coustom-color-1);
}
.left > p {
    line-height: 25px;
    color: var(--f-color);
    padding-right: 60px;
    margin: 30px 0px;
}

#btn-link {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 8px;
    background-color: var(--coustom-color-1);
    color: white;
    width: fit-content;
    margin-bottom: 60px;
}

.contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 402px;
    color: var(--f-color);
    font-weight: bold;
}

.img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}