h1 {
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 5px 10px;
}

nav {
    background-color: #3d8361;
    margin: 10px 10px;
}

ul {
    padding: 0px;
    list-style: none;
}

li a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

li:hover {
    background-color: #002b23;
}

.list-items {
    padding: 10px 20px;
}